Repository hmcts/fprl-cos-api, pull requests merged in 2021-07, with the labels that each got.

#9 Repo alignment to FPRL naming
  .env
  Dockerfile
  Jenkinsfile_template
  README.md
  bin/init.sh
  charts/fprl-cos/Chart.yaml
  charts/fprl-cos/values.yaml
  docker-compose.yml
  src/contractTest/resources/application.yaml
  src/integrationTest/resources/application.yaml
  src/main/resources/application.yaml
  src/test/resources/application.yaml
Labels: ns:family-private-law, prd:fprl, rel:fprl-cos-pr-9

#10 Implementation of the Workflow pattern
  build.gradle
  sonar-project.properties
  src/contractTest/java/uk/gov/hmcts/reform/fprl/clients/PbaClientConsumerTest.java
  src/contractTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/fprl/clients/EmailClient.java
  src/main/java/uk/gov/hmcts/reform/fprl/clients/PbaValidationClient.java
  src/main/java/uk/gov/hmcts/reform/fprl/config/EmailTemplatesConfig.java
  src/main/java/uk/gov/hmcts/reform/fprl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/fprl/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/context/DefaultTaskContext.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/context/TaskContext.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/exceptions/TaskException.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/exceptions/WorkflowException.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/task/Task.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/workflow/AbstractWorkflow.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/workflow/DefaultWorkflow.java
  src/main/java/uk/gov/hmcts/reform/fprl/framework/workflow/Workflow.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/LanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/ccd/CallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/ccd/CallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/notify/CitizenEmail.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/notify/EmailTemplateVars.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/payment/ContactInformationResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/payment/DxAddressResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/payment/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/payment/PbaOrganisationResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/payment/SuperUserResponse.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/email/EmailTemplateNames.java
  src/main/java/uk/gov/hmcts/reform/fprl/services/EmailService.java
  src/main/java/uk/gov/hmcts/reform/fprl/services/ExampleService.java
  src/main/java/uk/gov/hmcts/reform/fprl/tasks/emails/ExampleEmailTask.java
  src/main/java/uk/gov/hmcts/reform/fprl/tasks/emails/generics/SendEmailTask.java
  src/main/java/uk/gov/hmcts/reform/fprl/utils/EmailObfuscator.java
  src/main/java/uk/gov/hmcts/reform/fprl/workflows/ExampleWorkflow.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/fprl/controllers/CallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/framework/context/DefaultTaskContextTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/framework/workflow/DefaultWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/models/LanguagePreferenceTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/models/dto/notify/CitizenEmailTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/models/email/CitizenEmailTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/services/ExampleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/tasks/emails/ExampleEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/tasks/emails/generics/SendEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/CaseDataProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/CaseDetailsProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/CitizenEmailProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/EmailObfuscatorTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/EmailTemplateVarsProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/TaskContextProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/Verificators.java
  src/test/java/uk/gov/hmcts/reform/fprl/workflows/ExampleWorkflowTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  src/test/resources/application.yaml
Labels: ns:family-private-law, prd:fprl, rel:fprl-cos-pr-10

#11 FR-242: Adding notifcations integration test and refactorings
  build.gradle
  charts/fprl-cos/Chart.yaml
  charts/fprl-cos/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/ServiceContextConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/controllers/CallbackControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/fprl/util/CosApiClient.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/application.yaml
  src/main/java/uk/gov/hmcts/reform/fprl/Application.java
  src/main/java/uk/gov/hmcts/reform/fprl/clients/EmailClient.java
  src/main/java/uk/gov/hmcts/reform/fprl/config/NotificationsServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fprl/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fprl/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/notify/CitizenEmail.java
  src/main/java/uk/gov/hmcts/reform/fprl/models/dto/notify/EmailTemplateVars.java
  src/main/java/uk/gov/hmcts/reform/fprl/services/EmailService.java
  src/main/java/uk/gov/hmcts/reform/fprl/tasks/emails/ExampleEmailTask.java
  src/main/java/uk/gov/hmcts/reform/fprl/utils/SslVerificationDisabler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/fprl/models/email/CitizenEmailTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/services/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/tasks/emails/ExampleEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/tasks/emails/generics/SendEmailTaskTest.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/CitizenEmailProvider.java
  src/test/java/uk/gov/hmcts/reform/fprl/utils/EmailTemplateVarsProvider.java
  src/test/resources/application.yaml
Labels: ns:family-private-law, prd:fprl, rel:fprl-cos-pr-11
